/*#region VARIABLE */

*{
 font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 0.1px;
 
}


:root {
    --bg_banner_sony: #000000;
    --bg_primary: #ffffff;
    --bg_secondary: #1F1F1F;
    --bg_tertiary: #BEBCBB;
    --bg_quaternary:#161C3B;
    --bg_quinary:#00439C;
    
    --txt_menu:#131313;
    --txt_primary:#1F1F1F;
    --txt_secondary:#ffffff;
    --txt_tertiary:#727272;
    --txt-quaternary:#147dd2;

    --buttons_primary: #363636;
    --buttons_secondary: #CD3D0F;
    --buttons_tertiary: #2D64E6;
    --buttons_quaternary: #D9DADC;
    --buttons_quinary:#F5F5F5;

}
/* #endregion */

/* #region debug */
.debug .game{
    background-color: coral;
    height:500px;
}


.debug .possibility{
    height: 800px;
}

.debug [class^="card"]{
    background-color: aquamarine;
    height:124px;
    min-width: 120px;
    border-radius: 25px;
    margin:10px 0;
   
}

.debug .hardware{
    height:800px;
    background-color: rgb(80, 255, 89);
}

.debug [class^="col"]{
    height:140px;
    background-color: rgba(127, 255, 212, 0.678);
    border: 1px solid black;

}

.debug .news{
    background-color:#363636;
    height:1000px;
}



.debug .explore,
.debug .discount{

    height:800px;

}

.debug .service{
    height:300px;
    background-color: pink;

}


.debug .social_media{
    height:700px;
}


.debug footer{
    height: 1000px;
    background-color: var(--bg_quinary);
}
/* #endregion */

/* #region COMMON */


a {
    text-decoration: none;
}


img{
    max-width: 100%;
}

.container{
    height: 100%;
}

.possibility_bottom h6{
    color:var(--txt-quaternary);
}


.subtitle{
    color:var(--txt_tertiary);
}


.btn_primary{
    background-color: var(--buttons_primary);
    color:var(--txt_secondary);
}

.btn_secondary{
    background-color: var(--buttons_secondary);
    color:var(--txt_secondary);
}  

.btn_tertiary{
    background-color: var(--buttons_tertiary);
    color:var(--txt_secondary);
}

.btn_quaternary{
    background-color: var(--buttons_quaternary);
    color:var(--buttons_tertiary);
}

.btn_quinary{
    background-color: var(--buttons_quinary);
    color:var(--txt_primary);
}


.btn>a{
    border:1.8px solid transparent;
    text-decoration:none;
}


.btn-dark:hover{
    box-shadow: inset 0 0 0 1.8px white;

}

.btn.btn_secondary>a:hover{
    border: 1.8px solid black;
}


.btn.btn_tertiary>a:hover {
    border:1.8px solid white;

}

.btn.btn_quaternary>a:hover {
    box-shadow: inset 0 0 0 1.8px white;
}

.btn.btn_quinary>a:hover {
    box-shadow: inset 0 0 0 1.8px black;
}





/* #endregion */

/* #region Spaces */

.mb_4 {
    margin-bottom:3.875rem;
}


.mb_8{
    margin-bottom:8rem;

}

.mt_8{
    margin-top: 8rem;
}


.my_8{
    margin: 8rem 0;
}

.mt_9{
    margin-top:9.125rem;
}


.py_2{
    padding: 2.35rem 0;
}


.py_5{
    padding:5.5rem 0;
}

/* #endregion */

/* #region HEADER */

.banner{
    background-color: var(--bg_banner_sony);
}

/* navbar */

.navbar-light .navbar-nav .nav-link {
    color: var(--txt_menu);
    font-size: 1rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #ffffff;
    box-shadow:   0px 0px 5px 5px #0000001a;
}


.support {
    color:black;

}

.support a:hover{
    color:#0070d1;
}

.chevron-down::after{
    display: inline-block;
    content: "";
    background-image: url(../img/chevron-down-solid.svg);
    width: 8px;
    height: 10px;
    
}

.chevron-down.show::after{
    display: inline-block;
    content: "";
    background-image: url(../img/chevron-down-solid-hover.svg);
    transform: rotate(180deg);
    width: 8px;
    height: 10px;
    
}

.chevron-down:hover::after{
    display: inline-block;
    content: "";
    background-image: url(../img/chevron-down-solid-hover.svg);
    width: 8px;
    height: 10px;
    
}



ul .circle {
    
    border-radius: 50%;
    background-color: #0070d1;
    width: 6px;
    height: 6px;
}

/* #endregion */

/* #region MAIN */

/* hero */

.hero.game {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position : top center;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: color;
    height: 746px;

}

/* possibility */


.possibility .card{
    border-radius:1.5rem;

}


.possibility .card img,
.news .card img{
    border-radius: 20px;
}

/* hardware */

.card-body{
    padding: 1rem 0;
}

.selector .card-img-top{
    aspect-ratio: 1 / 0.5;
    object-fit: contain;
}

.selector .card-body h6{
    display:none;

}

.selector .card{
    height: 100%;
    border-radius:0;
    opacity:0.5;
}

.selector .card.active{
    opacity:1;
    box-shadow: 0 2px 0 0 var(--bg_quinary);

}

.selector .card:hover{
    opacity:1 !important;
    box-shadow: 0 2px 0 0 var(--bg_quinary);

}

/* adventure game */

.adventure.game {
    background-image: url("/assets/img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position : top center;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: color;
}


/* news */


section.news,
.news .card{
    background-color: var(--bg_secondary);
}

/* service */


.service_image{
    display:none;
}

.service.play_plus{
    background-color: var(--bg_tertiary);
}


.service.play_now {
    background-color: var(--bg_quaternary);
}

/* social media */


.social_logo{
    width: 100%;
    aspect-ratio: 1/1;
}
/* #endregion */

/* #region FOOTER */


footer {
    background-color: var(--bg_quinary);
    color: var(--txt_secondary);
}

.footer_bottom .sie_logo{
    width: 110px;
}

.footer_bottom p{
    font-size: 12px;
    width:85%

}

/* #endregion */

/*#region media query */



@media screen and (min-width:576px){

    .game_content{
        width: 94%;
    }

}

@media screen and (min-width:768px){
    
    /* hardware */

    
    h6{
        font-size: 0.9375rem;
    }

    .selector .card-body h6{
        display:block;
    
    }

    .service_image{
        display:block;
    }

    .service .service_content{
        font-size: 15px;
    }


    .social_media_bottom .row{
        width: 90%;
    }
   
}


@media screen and (min-width:992px){

    
    .game_content{
        width:29%;
    }

    
    .social_media_bottom .row{
        width: 60%;
    }

 
    .footer_bottom p{
        width: 41.5%;
    }

}



/* #endregion */
